.Header {
  width: 100%;
  border: 1px solid red;
  .Header__wrapper {
    width: 100%;
    border: 1px solid red;
    display: flex;
    height: 100px;
    align-items: center;
    gap: 30px;
    .Header__logo {
      width: 10%;
      border: 1px solid red;
      .Header__img {
        width: 100%;
        height: 100%;
      }
    }
    .Header__content{
        flex: 1;
        .Header__collection{
            display: flex;
            gap: 15px;
            .Header__item{
                list-style: none;
                cursor: pointer;
            }
        }
    }
    .Header__icon{
        display: flex;
        .Header__collection2{
border: 1px solid red;
            display: flex;
            gap: 15px;
            .Header__item{
                list-style: none;
                cursor: pointer;
            }
        }
    }
  }
}
